<!--/*
This is the exact same code as the pure HTL example. The difference is
we are now using a sling model for the business logic. This allows for 
cleaner presentation and this component can be exported as json 
for a headless CMS solution.

Make sure you install the foodieland-bundle.zip if you have not already.

*/-->
<div data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.morerecipescard="com.adobe.aem.guides.foodieland.core.models.MoreRecipesCard"
    data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" class="cmp-morerecipescard">

    <div class="cmp-morerecipescard">

        <a class="cmp-image--link" href="${image.link}">
            <img class="cmp-image__image" src="${morerecipescard.fileReference}" alt="${morerecipescard.alt}"
                style="width: 290px; height: 200px">
        </a>

        <!--/* Content that will be displayed if it's set in the dialog */-->
        <div class="cmp-morerecipescard__content">
            <div class="cmp-morerecipescard__heartLike">${morerecipescard.heartLike}</div>
            <h5 class="cmp-morerecipescard__title">${morerecipescard.title}</h5>
            <div class="cmp-morerecipescard__mainIngredient">${morerecipescard.mainIngredient}</div>
            <div class="cmp-morerecipescard__prepareTime">${morerecipescard.prepareTime}</div>

        </div>
    </div>
</div>